tmp
recycle
codePDF
.DS_Store
Minimum/*.*
!Minimum/memman.tex
!Minimum/memman-mini.tex
!Minimum/memsty.sty
!Minimum/memlays.sty
!Minimum/memfonts.sty
!Minimum/titlepages.sty
!Minimum/anvil2.mps
!Minimum/memnoidxnum.tex
!Minimum/Makeidxglo
Minimum/Fig/*.log
Minimum/Fig/memman-mini-Fig.*
!Fig/memman-mini-Fig.tex
Fig/memman-mini-FigTmp.*
!Fig/memman-mini-FigTmp.tex
Fig/gnuplot